#DATA TYPES AND STRUCTURE QUESTIONS
Q1 What are data structures, and why are they important?
- Data structures are specialized formats for organizing and storing data so that it can be accessed and manipulated efficiently. They bare important to effectively manage and clean the data  .


Q2 Explain the difference between mutable and immutable data types with examples?
- Mutable data types are those which can be modified after creation. for example - lists.
- Immutable data types are those that can't be modified after creation. example - tuples, strings.


Q3 What are the main differences between lists and tuples in Python?
- Lists are **mutable** data type while tuples are **immutable** .
That means the elements of a list can be changed after they are created while the elements of tuples cannot be changed.
- Tuples provide a **secure** way of storing data, while lists **do not** .


Q4 Describe how dictionaries store data?
- Dictionaries use **key:value** pairs to store data . Each key acts as a unique identifier to retrieve associated value .

Q5 Why might you use a set instead of a list in Python?
- Sets are a collection of **unique elements** which means they do  not allow any duplicates. Lists do not have this feature wich make sets more appealing to use when you want only unique elements from a set of data.


Q6  What is a string in Python, and how is it different from a list?
- Strings refer to a **sequence of characters** which cannot be changed.
Syntax of strings : string_name = "ajay".
- Strings are different from lists as they are not mutable and cannot be modified .


Q7 How do tuples ensure data integrity in Python?
- Tuples are *immutable* data type which prevents accidental modification ensuring data integrity in Python .

Q8 What is a hash table, and how does it relate to dictionaries in Python?
- A **hash table** maps key to values using a hashing function. Python dictionaries use this hash fucntion to store data in the key:value format .

Q9 Can lists contain different data types in Python?
- Yes, lists can store different data types such as integers, strings, float, boolean, etc .


Q10 Explain why strings are immutable in Python?
- Strings are immutable in Python so that accidental changes can be prevented .
Immutability  of strings ensures efficiency and security while manipulating data .

Q11 What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries offer advantage over lists when you need to qucikly access a value based on a unique key. It helps in fast lookups making it more efficient and easy going than lists where we have to iterate through all the elements making it time consuming and slow  in case of  large data sets .

Q12 Describe a scenario where using a tuple would be preferable over a list?
- When you don't want any unnecesary changes in your stored data, you can use tuples instead of lists as their mutability makes them less secure than immutable tuples.


Q13 How do sets handle duplicate values in Python?
- Sets eliminates any duplicates value in Python. For example, let set_ = {1,2,3,4,3}
when we'll execute this set , the result will be like this:

In [ ]:
set_ = {1,2,3,4,3}
print(set_)                  #it has eliminated one of the 3's from the set.

{1, 2, 3, 4}

Q14 How does the “in” keyword work differently for lists and dictionaries?
- In a list, "in" searches for a value within the list elements, while in a dictionary, it checks if a specific value exists as a key within the dictionary . Example:

In [ ]:
d = {"name":"ritii","class":"bba","roll no.":2405278}

In [ ]:
"name" in d  #true because "name" key is present in the dict. d

True

In [ ]:
"ritii" in d  #false because value "ritii" is not  a  key in the dict

False

Q15 Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple as it is an immutable data type.

Q16 What is a nested dictionary, and give an example of its use case?
- Nested dictionary refers to a dictionary within a dictionary. Example below:

In [ ]:
d = {"name":"ritika","grade":{"math":90,"englsih":85,"science":89}}

In [ ]:
d

{'name': 'ritika', 'grade': {'math': 90, 'englsih': 85, 'science': 89}}

Q17 Describe the time complexity of accessing elements in a dictionary?
- not leanrt yet.

Q18 In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when **ordered data is needed** as dictionaries are unordered collection of elements while lists store data in a sequential way.

Q19 Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are  considered unordered as they use keys istead of index numbers to pull out infomation, so it doesnt actually matter where the item is in the dictionary, you search with keys.

Q20 Explain the difference between a list and a dictionary in terms of data retrieval?
- In a dictionary, data is retrieved with the help of the "KEY for the item we are looking for,  whereas in Lists we use the index no of the elements to retrieve data. Illustration below:

In [ ]:
list1 = [1,2,3,"apple"]
list1[3]

'apple'

Since 3 is the index no. of "apple" , we used it to retrieve apple.

In [ ]:
dict_ = {"name":"ritika","percent":95}
dict_["percent"]

95

since dictionaries use key:value pair , we retrieve the values using their assigned keys as shown above .

#PRACTICAL QUESTIONS
Q1 Write a code to create a string with your name and print it?

In [19]:
str_name = "Ritika Agarwal"
print(str_name)

Ritika Agarwal

Q2 Write a code to find the length of the string "Hello World"

In [20]:
str_ = "Hello World"

In [21]:
len(str_)

11

In [22]:
#Q3 Write a code to slice the first 3 characters from
# the string "Python Programming"?
s = "Python Programming"

In [24]:
#slicing
s[0:3]

'Pyt'

In [107]:
#Q4 Write a code to convert the string "hello" to uppercase?
s = "hello"
s.upper()

'HELLO'

In [108]:
#5 Write a code to replace the word "apple" with "orange" in the string "I like apple".
s1 = "I like apple"
s1.replace("apple","orange")

'I like orange'

In [37]:
#6 Write a code to create a list with numbers 1 to 5 and print it.
list_ = [1,2,3,4,5]
print(list_)

[1, 2, 3, 4, 5]

In [42]:
#7 Write a code to append the number 10 to the list [1, 2, 3, 4].
lis = [1,2,3,4]

In [43]:
lis.append(10)
lis

[1, 2, 3, 4, 10]

In [48]:
#8 Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
l = [1,2,3,4,5]

In [49]:
l.remove(3)
l

[1, 2, 4, 5]

In [50]:
#9 Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list_ = ['a', 'b', 'c', 'd']

In [51]:
list_[1]

'b'

In [52]:
#10 Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]

In [54]:
L= l[::-1]
L

[50, 40, 30, 20, 10]

In [109]:
#11 Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100,200,300)
t

(100, 200, 300)

In [56]:
#12 . Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')

In [57]:
t[-2]

'blue'

In [63]:
#13  Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t = (10, 20, 5, 15)
min(t)

5

In [68]:
#14 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t = ('dog', 'cat', 'rabbit')
t.index("cat")

1

In [69]:
#15  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
tuple1 = ("apple","banana","kiwi")

In [70]:
"kiwi" in tuple1

True

In [110]:
#16 Write a code to create a set with the elements 'a', 'b', 'c' and print i
s = {"a","b","c"}
s

{'a', 'b', 'c'}

In [72]:
#17 Write a code to clear all elements from the set {1, 2, 3, 4, 5}
s = {1, 2, 3, 4, 5}

In [75]:
s.clear()

In [76]:
s

set()

In [ ]:
#18 Write a code to remove the element 4 from the set {1, 2, 3, 4}
set_ = {1, 2, 3, 4}

In [77]:
set_.remove(4)

In [78]:
set_

{1, 2, 3}

In [79]:
#19 Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1 | s2

{1, 2, 3, 4, 5}

In [80]:
#20 Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
s1 = {1, 2, 3}
s2 = {2, 3, 4}
s1 & s2

{2, 3}

In [111]:
#21  Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d = {"name":"ritika","age":20,"city":"london"}
d

{'name': 'ritika', 'age': 20, 'city': 'london'}

In [86]:
#22 Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
d = {'name': 'John', 'age': 25}

In [89]:
d["country"]="USA"

In [90]:
d

{'name': 'John', 'age': 25, 'country': 'USA'}

In [91]:
#23  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
d = {'name':'Alice','age':30}

In [92]:
d['name']

'Alice'

In [93]:
#24  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
d = {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [96]:
d.pop("age")

22

In [97]:
d

{'name': 'Bob', 'city': 'New York'}

In [98]:
 #25  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
 d = {'name': 'Alice', 'city': 'Paris'}

In [99]:
"city" in d

True

In [100]:
#26  Write a code to create a list, a tuple, and a dictionary, and print them all.
l = [1,2,3,'a','b']
d = {"name":"ritika","class":"bba"}
t = (1,2,3,4)

In [101]:
l

[1, 2, 3, 'a', 'b']

In [102]:
d

{'name': 'ritika', 'class': 'bba'}

In [103]:
t

(1, 2, 3, 4)

In [ ]:
#27 Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
#don't know

In [104]:
#28 Write a code to create a list with strings and print the element at the third index
l = ["apple","banana","kiwi","orange","grapes"]
l[3]

'orange'

In [119]:
#29  Write a code to combine two dictionaries into one and print the result.
d1 = {"name":"ritika"}
d2 = {"age":150}
d1.update(d2)
print("combined dictionary is:",d1)

combined dictionary is: {'name': 'ritika', 'age': 150}

In [112]:
#30 Write a code to convert a list of strings into a set
l = ['a','b','c','d']

In [116]:
s = set(l)
s

{'a', 'b', 'c', 'd'}